* {
  box-sizing: border-box;
}
#root {
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dadada;
  max-height: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #f6fafb;
  border-radius: 10px;
}

.placeOnMap:hover {
  z-index: 2 !important;
}
